@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Add the custom class for the VT323 font */
  .font-vt323 {
    font-family: 'VT323', monospace;
  }
}

nav{
  font-family:  'IBM Plex Mono', monospace;
}

body {
    
    font-family:  'IBM Plex Mono', monospace;
    overscroll-behavior: none;
    background: bg-slate-100;
  }


  .text-shadow-3d {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3)
  }

  .typewriter {
    overflow: hidden;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    border-right: 0.15em solid transparent;
    white-space: nowrap;
    animation: typewriter 4s steps(40, end),
               blink-caret 0.5s step-end infinite alternate;
  }
  
  @keyframes typewriter {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  
  @keyframes blink-caret {
    0%,
    100% {
      border-color: transparent;
    }
    50% {
      border-color: #e4e4e4;
    }
  }

  @keyframes moveUpDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .post-animation {
    display: flex;
    flex-direction: column;
 
  }
  
  .post-animation > div {
    animation: moveUpDown 2s ease-in-out infinite;
  }
  


  .search-container {
  position: relative;
}

.dropdown {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
  z-index: 100;
}

.dropdown-item {
  cursor: pointer;
  padding: 0.5rem;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}